Cold Email Automation
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        -336
      ],
      "id": "c1b0a383-777a-40b6-8076-80df34364059",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D4KXjEmy5H5DilyROCGjJPs1GbBHFSnbY-iBUgatwpU",
          "mode": "list",
          "cachedResultName": "Email leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D4KXjEmy5H5DilyROCGjJPs1GbBHFSnbY-iBUgatwpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D4KXjEmy5H5DilyROCGjJPs1GbBHFSnbY-iBUgatwpU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -384,
        -96
      ],
      "id": "18bbc763-51b4-4eba-89e4-81235e4cfde6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wIsYcJFvOXgQLuF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac298106-3baa-49fe-8f91-937feffbda94",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        -240
      ],
      "id": "c5d3885d-7717-4506-b775-ebfdeab1027d",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -16,
        -336
      ],
      "id": "cec54f05-180e-4c48-bc9f-88bf54bd9dd4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D4KXjEmy5H5DilyROCGjJPs1GbBHFSnbY-iBUgatwpU",
          "mode": "list",
          "cachedResultName": "Email leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D4KXjEmy5H5DilyROCGjJPs1GbBHFSnbY-iBUgatwpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494995225,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D4KXjEmy5H5DilyROCGjJPs1GbBHFSnbY-iBUgatwpU/edit#gid=494995225"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        192,
        -64
      ],
      "id": "efe64715-09ba-480d-a769-7abec3a0cf98",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wIsYcJFvOXgQLuF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -208
      ],
      "id": "5bc103bf-c714-422d-a281-f2e3a451114d",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        -304
      ],
      "id": "757df7a6-d204-41fd-a798-540cb4b0ee7e",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "XYZ"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "id": "086cbc9c-a6a2-44c5-8040-2e4b01060f80",
      "name": "Send a message",
      "webhookId": "b213aca2-d31f-4b54-9036-d3aa172df270",
      "credentials": {
        "gmailOAuth2": {
          "id": "Sekam9Ua4k5j3SmX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map(item => {\n  // Get name from JSON, default to \"Concern\" if missing or empty\n  const name = item.json.Name && item.json.Name.trim() !== '' \n    ? item.json.Name \n    : 'Concern';\n\n  // Replace [First Name] in the text\n  const updatedBody = item.json.body.replace('[First Name]', name);\n\n  // Return updated JSON\n  return {\n    json: {\n      ...item.json,\n      body: updatedBody\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ],
      "id": "848197d2-60b9-4a8b-99f1-488fb8d6c1ba",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1D4KXjEmy5H5DilyROCGjJPs1GbBHFSnbY-iBUgatwpU",
          "mode": "list",
          "cachedResultName": "Email leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D4KXjEmy5H5DilyROCGjJPs1GbBHFSnbY-iBUgatwpU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D4KXjEmy5H5DilyROCGjJPs1GbBHFSnbY-iBUgatwpU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Code1').item.json.Email }}",
            "Status": "={{ $json.labelIds[0] }}",
            "Time": "={{ new Date().toLocaleTimeString(\"en-GB\", { timeZone: \"Asia/Kolkata\", hour12: false }) }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        -144
      ],
      "id": "710d1cae-546b-4910-8302-052620c12aa3",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wIsYcJFvOXgQLuF7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        112
      ],
      "id": "3adc9ec5-1a7d-4327-9d8e-2c12e5cb3a2b",
      "name": "Wait",
      "webhookId": "df30a3aa-241c-4c6e-8c9d-8196e6454681"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "999fa99a069e7db8007e59c9ee91da676dd1b2885ce4219f545de8665db7292d"
  }
}
