Instagram Auto msg reply.json
{
  "name": "Instagram Auto msg reply",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0fa430f8-ac76-4ea4-9077-557d347daa25",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b0c1ec9b-bc16-4511-847e-c377a42049f4",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "suhatoken",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        -112
      ],
      "id": "92f852cc-92c8-4984-bfb3-dc98981a5038",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        96,
        -208
      ],
      "id": "33e93e0e-74a6-4889-b06d-2943e37b3962",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].messaging[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -112,
        80
      ],
      "id": "bf461744-4633-48d4-aeea-8e12d147f129",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -144,
        256
      ],
      "id": "c6c9f656-640e-46c3-915a-d863c12063a1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tkiHd2mDySnIis0p",
          "name": "OpenAi account- Temp"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "cmnt-insta-learniq",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -16
      ],
      "id": "99bed98e-19b9-4be6-9745-ff74a7d9fe2a",
      "name": "Webhook1",
      "webhookId": "fb6eceec-c6e3-483b-8857-d7244364781d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.entry[0].messaging[0].sender.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        256
      ],
      "id": "2f92b181-617d-4329-bc22-914955f265af",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v23.0/me/messages",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer Token\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $('Webhook1').item.json.body.entry[0].messaging[0].sender.id }}\" },\n  \"message\": { \"text\": \"{{ $json.output }}\" }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        80
      ],
      "id": "2a045075-78e2-4179-ac52-66bd36735a30",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8b708173-499a-4330-ba9e-574de66093de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df5f523cc338ad1b397b62bfee6b5accb9cf68fe4f41e8b28b2f6e1d3d0c9240"
  },
  "id": "48SmHWRgJaZsktY7",
  "tags": []
}