Order to Woocommerce(1).json
{
  "name": "Order to Woocommerce",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://learniq360.com/wp-json/wc/v3/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"payment_method\": \"cod\",\n  \"payment_method_title\": \"Cash on Delivery\",\n  \"set_paid\": false,\n\n  \"billing\": {\n    \"first_name\": \"{{ $json.Name }}\",\n    \"phone\": \"{{ $json.Phone }}\",\n    \"email\": \"{{ $json.Email }}\",\n    \"address_1\": \"{{ $json.Address }}\",\n    \"country\": \"BD\"\n  },\n\n  \"line_items\": [\n    {\n      \"product_id\": {{ $json['Product ID'] }},\n      \"quantity\": 1\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        -48
      ],
      "id": "6f12823e-4794-42ec-a0f3-48b135e4461e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cEWfeKga7k9RIxlxVY-dmGwIMadrRzewdFnhjJZSSyk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cEWfeKga7k9RIxlxVY-dmGwIMadrRzewdFnhjJZSSyk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Not Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -48
      ],
      "id": "3f5acba9-2e58-4311-acac-d8ee04f9bdcc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LpXOs5unKGwOJjiM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        272,
        -48
      ],
      "id": "347a3b4f-8d7b-464e-9a5a-a1aa381420cd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://learniq360.com/wp-json/wc/v3/products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        160
      ],
      "id": "989ddd38-cf4e-499b-b0e9-587991813515",
      "name": "Get Product List"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const product = item.json;\n\n  return {\n    json: {\n      item_name: product.name || \"N/A\",\n\n      price: product.regular_price || product.price || \"N/A\",\n\n      offer_price: product.sale_price || product.price || \"N/A\",\n\n      image_link: product.images && product.images.length > 0\n        ? product.images[0].src\n        : \"N/A\",\n\n      product_link: product.permalink || \"N/A\"\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        160
      ],
      "id": "049ced28-7208-4583-8a98-6233713de294",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Product List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product List": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5a76e8b6-602e-4762-a9af-8273b0365e78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ed1d19673813fcf045c67be5297cf40c241fe0b1a4111aaff4c09699ab8a40f"
  },
  "id": "ZAavu3XEp9uKhNfg",
  "tags": []
}